<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="PaymentReceiptTestCases">
		<classes>
			<class name="com.ts.package1.Configuration_PaymentRec" />
			<class name="com.ts.package1.PaymentReceiptTestCases" />
		</classes>
	</test> <!-- Test -->
	<test name="SalesTestCases">
		<classes>
			<class name="com.ts.package2.Configuration_Sales" />
			<class name="com.ts.package2.SalesTestCases" />
		</classes>
	</test>
</suite> <!-- Suite -->